<div *ngIf="pokemon" id="pokemon-details" class="row s6">
  <div class="container">
    <div class="row">
      <div class="col s12">
        <div class="card">
          <div class="card-image">
            <img [src]="pokemon.picture" class="pkmn-image" alt="Image de {{ pokemon.name }}">
          </div>
          <div class="card-content">
            <h2 class="header center">{{ pokemon.name }}</h2>
            <p>
                <span *ngFor="let type of pokemon.types"
                                             class="pkmn-type {{ type | pokemonTypeColor}}">
                {{ type | pokemonTypeEmoji}}{{ type }}
              </span>
            </p>
            <p>❤ <strong>{{ pokemon.hp }}</strong></p>
            <p>⚔ <strong>{{ pokemon.cp }}</strong></p>
            <br />
            <p class="text-muted">{{ pokemon.id }}</p>
            <p class="text-muted">{{ pokemon.created | date:"dd/MM/yyyy" }}</p>
          </div>
          <div class="card-action">
            <a (click)="goBack()" class="waves-effect red darken-1 btn-small" style="margin-right:16px;">Retour</a>
            <a (click)="goToEdit(pokemon)" class="waves-effect blue darken-2 btn-small">Modifier</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<h4 *ngIf='!pokemon' class="center">Le pokémon est introuvable</h4>
