.img-erreur {
  width: 100%;
  max-width: 200px;
  margin: 0 auto;
}
.row.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 20px;
}

.pkmn-image {
  filter: saturate(170%);
  transform: rotateY(3.142rad);
}
