<div class="container-fluid">
  <div class="row content">
    <div class="col s12">
      <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/050.png" alt="Erreur" class="img-erreur pkmn-image" />
      <h1 class="center-align">Erreur 404</h1>
      <h4 class="center-align">Page non trouvée</h4>
      <p class="center-align">Désolé, la page que vous recherchez est introuvable.</p>
      <div class="center-align">
        <a [routerLink]="['/pokemons']" class="waves-effect blue darken-2 btn-small">Retour à l'accueil</a>
      </div>
    </div>
  </div>
</div>
