<form *ngIf="pokemon" (ngSubmit)="onSubmit()" #pokemonForm="ngForm">
  <div class="row">
    <div class="col s10 offset-s1">
      <div class="card-panel">
        <div class="col s6">
          <img [src]="pokemon.picture" class="pkmn-image" alt="{{ pokemon?.name }}" />
        </div>
        <div class="col s6">
          <!-- Pokemon name -->
          <div class="form-group">
            <label for="name">✏ Nom</label>
            <input type="text" class="form-control" id="name"
                   required
                   pattern="^[a-zA-Z0-9àéèç]{1,25}$"
                   [(ngModel)]="pokemon.name" name="name"
                   #name="ngModel">

            <div [hidden]="name.valid || name.pristine"
                 class="card-panel red lighten-1">
              ❌ Le nom du pokémon doit être compris entre 1 et 25 caractères.
            </div>
          </div>
          <!-- Pokemon hp -->
          <div class="form-group">
            <label for="hp">❤ Point de vie</label>
            <input type="number" class="form-control" id="hp"
                   required
                   pattern="^[0-9]{1,3}$"
                   [(ngModel)]="pokemon.hp" name="hp"
                   #hp="ngModel">
            <div [hidden]="hp.valid || hp.pristine"
                 class="card-panel red lighten-1">
              ❌ Les points de vie du pokémon doivent être compris entre 0 et 999.
            </div>
          </div>
          <!-- Pokemon cp -->
          <div class="form-group">
            <label for="cp">⚔ Dégâts</label>
            <input type="number" class="form-control" id="cp"
                   required
                   pattern="^[0-9]{1,2}$"
                   [(ngModel)]="pokemon.cp" name="cp"
                   #cp="ngModel">
            <div [hidden]="cp.valid || cp.pristine"
                 class="card-panel red lighten-1">
              ❌ Les dégâts du pokémon doivent être compris entre 0 et 99.
            </div>
          </div>
        </div>

        <!-- Pokemon name -->
        <div *ngIf="isAddForm" class="form-group">
          <label for="picture">🖼 Image</label>
          <input type="url" class="form-control" id="picture"
          required
          pattern="https?://.+"
          [(ngModel)]="pokemon.picture" name="picture"
          (ngModelChange)="updateImage()"
          #name="ngModel">
          <a href="https://bulbapedia.bulbagarden.net/wiki/List_of_Pok%C3%A9mon_by_National_Pok%C3%A9dex_number"
             target="_blank" style="border-bottom: 1px solid #039be5">
            <small>Voir la liste des pokémons</small>
          </a>

          <!--TODO : Réparer la vérification valid et pristine-->
          <!--<div [hidden]="picture.valid || picture.pristine"
               class="card-panel red lighten-1">
            ❌ L'image du pokémon est requise
          </div>-->
        </div>
        <div class="col s12">

        </div>

        <!-- Pokemon types -->
        <form class="form-group" style="margin-top:15px;">
          <label for="types">🌪 Types</label>
          <div class="row">
            <p *ngFor="let type of types" class="col s6">
              <label>
                <input type="checkbox"
                       class="filled-in"
                       id="{{ type }}"
                       [value]="type"
                       [checked]="hasType(type)"
                       [disabled]="!isTypesValid(type)"
                       (change)="selectType($event, type)"/>
                <span [attr.for]="type">
              <div class="pkmn-type {{ type | pokemonTypeColor}}">
                {{ type | pokemonTypeEmoji}}{{ type }}
              </div>
            </span>
              </label>
            </p>
          </div>
        </form>

        <!-- Submit button -->
        <div class="divider"></div>
        <div class="section center">
          <button type="submit"
                  class="green accent-4 btn-small"
                  [disabled]="!pokemonForm.form.valid">
            Valider</button>
        </div>

      </div>
    </div>
  </div>
</form>
<h4 *ngIf='!pokemon' class="center">
  <app-loader></app-loader>
</h4>
